<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>
<body>
    <h1>Aplicación de Saludo</h1>
    <h2>Ingresa tu nombre y la página web te saludará
    </h2>
    <form class="form" method="post">
        <label for="entry" class="form-label">Ingrese aqui su usuario:</label>
        <input type="text" id="entry" name="contenido">
        <button type="submit" class="form-button">ENVIAR</button>
    </form>
    <h2>Usuarios:</h2>
    <ul>
        {% for user in users %}
                <li>
                    {{ user.Nombre }}
                </li>
        {% endfor %}
    </ul>

    
</body>
</html>